@font-face {
  font-family: "CPMono_v07_Plain";
  src: local("☺"), url('/fonts/../fonts/CPMono_v07_Plain-webfont.woff') format('woff'), url('/fonts/../fonts/CPMono_v07_Plain-webfont.ttf') format('truetype'), url('/fonts/../fonts/CPMono_v07_Plain-webfont.svg#webfontRVXSRgPv') format('svg');
}

@font-face {
  font-family: "CPMono_v07_Light";
  src: local("☺"), url('/fonts/../fonts/CPMono_v07_Light-webfont.woff') format('woff'), url('/fonts/../fonts/CPMono_v07_Light-webfont.ttf') format('truetype'), url('/fonts/../fonts/CPMono_v07_Light-webfont.svg#webfontRVXSRgPv') format('svg');
}

@font-face {
  font-family: "CPMono_v07_ExtraLight";
  src: local("☺"), url('/fonts/../fonts/CPMono_v07_ExtraLight-webfont.woff') format('woff'), url('/fonts/../fonts/CPMono_v07_ExtraLight-webfont.ttf') format('truetype'), url('/fonts/../fonts/CPMono_v07_ExtraLight-webfont.svg#webfontRVXSRgPv') format('svg');
}

@font-face {
  font-family: "CPMono_v07_Black";
  src: local("☺"), url('/fonts/../fonts/CPMono_v07_Black-webfont.woff') format('woff'), url('/fonts/../fonts/CPMono_v07_Black-webfont.ttf') format('truetype'), url('/fonts/../fonts/CPMono_v07_Black-webfont.svg#webfontRVXSRgPv') format('svg');
}

/* line 29, ../../app/stylesheets/styles.scss */
body.bp, textarea {
  font-family: 'CPMono_v07_Plain', monospace;
}

/* line 33, ../../app/stylesheets/styles.scss */
body.bp {
  line-height: 20px;
  background: black;
  color: lime;
}
/* line 37, ../../app/stylesheets/styles.scss */
body.bp h1 {
  font-size: 60px;
  line-height: 60px;
}
/* line 40, ../../app/stylesheets/styles.scss */
body.bp h1 a {
  text-decoration: none;
  color: lime;
}
/* line 43, ../../app/stylesheets/styles.scss */
body.bp h1 a:hover, body.bp h1 a:visited {
  color: lime;
}
/* line 48, ../../app/stylesheets/styles.scss */
body.bp h1, body.bp h3, body.bp h5 {
  color: lime;
}
/* line 51, ../../app/stylesheets/styles.scss */
body.bp h2, body.bp h4 {
  color: yellow;
}
/* line 55, ../../app/stylesheets/styles.scss */
body.bp h2 {
  font-size: 35px;
  line-height: 40px;
}
/* line 59, ../../app/stylesheets/styles.scss */
body.bp h3 {
  font-size: 25px;
  line-height: 30px;
}

/* line 65, ../../app/stylesheets/styles.scss */
#title {
  display: inline;
  float: left;
}
/* line 68, ../../app/stylesheets/styles.scss */
#title h1 {
  margin: 0;
  font-family: 'CPMono_v07_Black', monospace;
}

/* line 74, ../../app/stylesheets/styles.scss */
#header {
  border-bottom: solid thin lime;
}
/* line 75, ../../app/stylesheets/styles.scss */
#header #nav {
  text-align: right;
}
/* line 78, ../../app/stylesheets/styles.scss */
#header #nav ul li {
  display: inline;
}
/* line 80, ../../app/stylesheets/styles.scss */
#header #nav ul li a {
  font-family: 'CPMono_v07_Light', monospace;
  color: white;
}
/* line 83, ../../app/stylesheets/styles.scss */
#header #nav ul li a:hover, #header #nav ul li a:visited {
  color: white;
}
/* line 91, ../../app/stylesheets/styles.scss */
#header .subhead {
  font-family: 'CPMono_v07_ExtraLight', monospace;
  font-size: 12px;
  color: aqua;
  line-height: 10px;
}

/* line 99, ../../app/stylesheets/styles.scss */
#content {
  margin-bottom: 30px;
}
/* line 101, ../../app/stylesheets/styles.scss */
#content h2 {
  text-align: center;
  padding-top: 20px;
}
/* line 106, ../../app/stylesheets/styles.scss */
#content #help ul {
  list-style: none;
  text-align: center;
}
/* line 113, ../../app/stylesheets/styles.scss */
#content #welcome div:hover {
  background: #002200;
  cursor: pointer;
  cursor: hand;
}
/* line 118, ../../app/stylesheets/styles.scss */
#content #welcome h2, #content #welcome h3 {
  color: yellow;
}
/* line 120, ../../app/stylesheets/styles.scss */
#content #welcome h2 a, #content #welcome h3 a {
  text-decoration: none;
  color: yellow;
}
/* line 123, ../../app/stylesheets/styles.scss */
#content #welcome h2 a:hover, #content #welcome h2 a:visited, #content #welcome h3 a:hover, #content #welcome h3 a:visited {
  color: yellow;
}
/* line 128, ../../app/stylesheets/styles.scss */
#content #welcome h3 {
  text-align: center;
  margin-top: 0;
  line-height: 0;
}
/* line 135, ../../app/stylesheets/styles.scss */
#content #solutions #start {
  text-align: left;
}
/* line 136, ../../app/stylesheets/styles.scss */
#content #solutions #start .difficulty {
  border: solid thin lime;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-top: 20px;
  cursor: pointer;
  cursor: hand;
}
/* line 147, ../../app/stylesheets/styles.scss */
#content #solutions #start .difficulty a {
  text-decoration: none;
  color: lime;
}
/* line 150, ../../app/stylesheets/styles.scss */
#content #solutions #start .difficulty a:hover, #content #solutions #start .difficulty a:visited {
  color: lime;
}
/* line 154, ../../app/stylesheets/styles.scss */
#content #solutions #start .difficulty p {
  font-family: 'CPMono_v07_Light', monospace;
  color: #66ff66;
  text-align: center;
}
/* line 159, ../../app/stylesheets/styles.scss */
#content #solutions #start .difficulty:hover {
  background: #002200;
}
/* line 163, ../../app/stylesheets/styles.scss */
#content #solutions #start div#tutorial {
  font-family: 'CPMono_v07_ExtraLight', monospace;
  background: #1a1a1a;
}
/* line 166, ../../app/stylesheets/styles.scss */
#content #solutions #start div#tutorial h3 {
  color: #006600;
}
/* line 167, ../../app/stylesheets/styles.scss */
#content #solutions #start div#tutorial:hover {
  background: #002200;
}
/* line 171, ../../app/stylesheets/styles.scss */
#content #solutions #start div#easy {
  font-family: 'CPMono_v07_Plain', monospace;
  background: #141414;
}
/* line 174, ../../app/stylesheets/styles.scss */
#content #solutions #start div#easy h3 {
  color: #009900;
}
/* line 175, ../../app/stylesheets/styles.scss */
#content #solutions #start div#easy:hover {
  background: #002200;
}
/* line 179, ../../app/stylesheets/styles.scss */
#content #solutions #start div#hard {
  font-family: 'CPMono_v07_Black', monospace;
}
/* line 182, ../../app/stylesheets/styles.scss */
#content #solutions #start .disabled {
  cursor: default;
}
/* line 184, ../../app/stylesheets/styles.scss */
#content #solutions #start .disabled h3, #content #solutions #start .disabled p, #content #solutions #start .disabled p a, #content #solutions #start .disabled p a:visited, #content #solutions #start .disabled p a:hover {
  color: #222;
}
/* line 187, ../../app/stylesheets/styles.scss */
#content #solutions #start .disabled:hover {
  background: black;
}
/* line 191, ../../app/stylesheets/styles.scss */
#content #solutions #start #tutorial, #content #solutions #start #easy {
  border-bottom: none;
}
/* line 195, ../../app/stylesheets/styles.scss */
#content #solutions #start h2 {
  text-align: left;
  padding-left: 15px;
}
/* line 199, ../../app/stylesheets/styles.scss */
#content #solutions #start h3 {
  text-align: center;
}
/* line 203, ../../app/stylesheets/styles.scss */
#content #solutions #resume {
  text-align: right;
}
/* line 205, ../../app/stylesheets/styles.scss */
#content #solutions #resume h2, #content #solutions #resume h3 {
  text-align: right;
}
/* line 208, ../../app/stylesheets/styles.scss */
#content #solutions #resume ul {
  list-style: none;
}
/* line 210, ../../app/stylesheets/styles.scss */
#content #solutions #resume ul li {
  font-size: 20px;
}
/* line 211, ../../app/stylesheets/styles.scss */
#content #solutions #resume ul li a {
  color: lime;
}
/* line 213, ../../app/stylesheets/styles.scss */
#content #solutions #resume ul li a:hover, #content #solutions #resume ul li a:visited {
  color: lime;
}
/* line 218, ../../app/stylesheets/styles.scss */
#content #solutions #resume ul li span.timestamp {
  font-size: 12px;
  font-family: 'CPMono_v07_ExtraLight', monospace;
  color: #009900;
}
/* line 224, ../../app/stylesheets/styles.scss */
#content #solutions #resume ul li.tutorial a {
  font-family: 'CPMono_v07_ExtraLight', monospace;
}
/* line 227, ../../app/stylesheets/styles.scss */
#content #solutions #resume ul li.easy a {
  font-family: 'CPMono_v07_Plain', monospace;
}
/* line 230, ../../app/stylesheets/styles.scss */
#content #solutions #resume ul li.hard a {
  font-family: 'CPMono_v07_Black', monospace;
}
/* line 237, ../../app/stylesheets/styles.scss */
#content #solution #back {
  display: inline;
  vertical-align: middle;
  font-size: 16px;
}
/* line 241, ../../app/stylesheets/styles.scss */
#content #solution #back a {
  color: lime;
}
/* line 243, ../../app/stylesheets/styles.scss */
#content #solution #back a:hover, #content #solution #back a:visited {
  color: lime;
}
/* line 248, ../../app/stylesheets/styles.scss */
#content #solution h2 {
  text-align: left;
}
/* line 252, ../../app/stylesheets/styles.scss */
#content #solution .controls div.goals {
  margin-bottom: 10px;
  text-align: center;
}
/* line 255, ../../app/stylesheets/styles.scss */
#content #solution .controls div.goals div {
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  border: solid thin black;
  height: 40px;
}
/* line 264, ../../app/stylesheets/styles.scss */
#content #solution .controls #goal-title h3 {
  color: aqua;
}
/* line 272, ../../app/stylesheets/styles.scss */
#content #solution .controls div.command, #content #solution .controls div.subroutine, #content #solution .controls div.control-command {
  margin-bottom: 10px;
}
/* line 274, ../../app/stylesheets/styles.scss */
#content #solution .controls div.command div, #content #solution .controls div.subroutine div, #content #solution .controls div.control-command div {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: solid thin;
  height: 40px;
  text-align: center;
}
/* line 279, ../../app/stylesheets/styles.scss */
#content #solution .controls div.command div div, #content #solution .controls div.subroutine div div, #content #solution .controls div.control-command div div {
  font-size: 20px;
  border: none;
  padding: 10px;
}
/* line 286, ../../app/stylesheets/styles.scss */
#content #solution .controls div.command:hover {
  cursor: move;
  background-color: #005500;
}
/* line 290, ../../app/stylesheets/styles.scss */
#content #solution .controls div.disabled {
  color: #004400;
  background-color: #001100;
}
/* line 297, ../../app/stylesheets/styles.scss */
#content #solution #board h3 {
  text-align: center;
}
/* line 300, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary > div {
  border: solid thin #006600;
  background-color: #001a00;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 306, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary div {
  text-align: center;
}
/* line 308, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary div h4 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}
/* line 314, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary .explosion {
  color: #F70;
}
/* line 316, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary .explosion h4 {
  color: #F70;
}
/* line 320, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary .ready {
  color: white;
}
/* line 322, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary .ready h4 {
  color: white;
}
/* line 326, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary .failure {
  color: red;
}
/* line 328, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary .failure h4 {
  color: red;
}
/* line 332, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary .passed {
  background-color: lime;
  color: black;
  font-family: 'CPMono_v07_Black', monospace;
}
/* line 333, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary .passed:hover {
  cursor: hand;
  cursor: pointer;
}
/* line 338, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary .passed a {
  color: black;
}
/* line 340, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary .passed a:hover, #content #solution #board #execution-result-summary .passed a:visited {
  color: black;
}
/* line 345, ../../app/stylesheets/styles.scss */
#content #solution #board #execution-result-summary .passed h4 {
  color: black;
  background-color: lime;
  font-family: 'CPMono_v07_Black', monospace;
}
/* line 353, ../../app/stylesheets/styles.scss */
#content #solution .one-goal {
  color: aqua;
}
/* line 356, ../../app/stylesheets/styles.scss */
#content #solution .satisfied {
  color: lime;
  font-family: 'CPMono_v07_Black', monospace;
}
/* line 360, ../../app/stylesheets/styles.scss */
#content #solution .unsatisfied {
  color: red;
}
/* line 363, ../../app/stylesheets/styles.scss */
#content #solution .nogoal {
  color: #003300;
}
/* line 366, ../../app/stylesheets/styles.scss */
#content #solution .hidden {
  visibility: hidden;
}
/* line 372, ../../app/stylesheets/styles.scss */
#content #solution #program #source div {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: solid thin;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-right: 30px;
  font-size: 18px;
  color: yellow;
  cursor: move;
}
/* line 383, ../../app/stylesheets/styles.scss */
#content #solution #program #source div.executed {
  color: lime;
}
/* line 386, ../../app/stylesheets/styles.scss */
#content #solution #program #source div.explode {
  color: #F87800;
}
/* line 389, ../../app/stylesheets/styles.scss */
#content #solution #program #source .command-reorder-highlight {
  background-color: #002200;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 395, ../../app/stylesheets/styles.scss */
#content #solution #program .trash {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  color: #800;
  border: solid 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-right: 30px;
}
/* line 405, ../../app/stylesheets/styles.scss */
#content #solution #program .trash-highlight {
  background-color: #f00;
  color: black;
}
/* line 409, ../../app/stylesheets/styles.scss */
#content #solution #program .top {
  margin-bottom: 10px;
}
/* line 412, ../../app/stylesheets/styles.scss */
#content #solution #program .bottom {
  margin-top: 10px;
}
/* line 416, ../../app/stylesheets/styles.scss */
#content #solution #program form textarea {
  display: none;
}
/* line 419, ../../app/stylesheets/styles.scss */
#content #solution #program form #execute {
  margin-right: 30px;
  margin-top: 20px;
}
/* line 422, ../../app/stylesheets/styles.scss */
#content #solution #program form #execute input {
  width: 100%;
  border: solid thin;
  background: black;
  color: aqua;
  font-size: 24px;
  padding-top: 4px;
  font-family: 'CPMono_v07_Black', monospace;
}
/* line 430, ../../app/stylesheets/styles.scss */
#content #solution #program form #execute input:hover {
  color: black;
  background-color: aqua;
  cursor: hand;
  cursor: pointer;
}
/* line 439, ../../app/stylesheets/styles.scss */
#content #solution #playfield {
  /*
    position:fixed;
    padding-left: 11 * $blueprint-grid-width;
    z-index: -1;
    */
}
/* line 448, ../../app/stylesheets/styles.scss */
#content #levels #back {
  display: inline;
  vertical-align: middle;
  font-size: 20px;
}
/* line 452, ../../app/stylesheets/styles.scss */
#content #levels #back a {
  color: lime;
}
/* line 454, ../../app/stylesheets/styles.scss */
#content #levels #back a:hover, #content #levels #back a:visited {
  color: lime;
}
/* line 459, ../../app/stylesheets/styles.scss */
#content #levels h3 {
  text-align: center;
}
/* line 462, ../../app/stylesheets/styles.scss */
#content #levels h4 {
  margin: 0;
  padding: 0;
  color: aqua;
  font-size: 20px;
}
/* line 467, ../../app/stylesheets/styles.scss */
#content #levels h4 a {
  color: aqua;
  text-decoration: none;
}
/* line 470, ../../app/stylesheets/styles.scss */
#content #levels h4 a:hover, #content #levels h4 a:visited {
  color: aqua;
}
/* line 475, ../../app/stylesheets/styles.scss */
#content #levels div.level {
  border: solid thin;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
/* line 481, ../../app/stylesheets/styles.scss */
#content #levels div.level p {
  font-family: 'CPMono_v07_ExtraLight', monospace;
}
/* line 485, ../../app/stylesheets/styles.scss */
#content #levels ul {
  list-style: none;
}

/* line 490, ../../app/stylesheets/styles.scss */
textarea#solution_code, pre.code {
  width: 100%;
  color: white;
  background-color: #002200;
  font-size: 20px;
  line-height: 20px;
}

/* line 500, ../../app/stylesheets/styles.scss */
#signin form input, #signup form input {
  font-size: 28px;
  font-family: 'CPMono_v07_ExtraLight', monospace;
  border: solid thin;
  margin-top: 14px;
}
/* line 506, ../../app/stylesheets/styles.scss */
#signin form input[type="submit"], #signup form input[type="submit"] {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 510, ../../app/stylesheets/styles.scss */
#signin form .label, #signup form .label {
  text-align: right;
  vertical-align: middle;
  padding-top: 28px;
  padding-right: 0px;
  margin-right: 0px;
}
/* line 517, ../../app/stylesheets/styles.scss */
#signin form .input, #signup form .input {
  padding-left: 0px;
  margin-left: 0px;
}
/* line 521, ../../app/stylesheets/styles.scss */
#signin form label, #signup form label {
  font-size: 18px;
  font-family: 'CPMono_v07_Light', monospace;
  margin-left: 0px;
}
/* line 528, ../../app/stylesheets/styles.scss */
#signin ul#devise-links, #signup ul#devise-links {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}
/* line 533, ../../app/stylesheets/styles.scss */
#signin ul#devise-links li, #signup ul#devise-links li {
  padding: 0;
  display: inline;
  margin: 0;
  padding-right: 15px;
}

/* line 542, ../../app/stylesheets/styles.scss */
#board0-title h3, #board1-title h3 {
  margin: 0;
  padding: 0;
}

/* line 546, ../../app/stylesheets/styles.scss */
.square {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: yellow;
  margin-bottom: 10px;
  height: 30px;
}

/* line 552, ../../app/stylesheets/styles.scss */
.last-row .square {
  margin-bottom: 0;
}

/* line 556, ../../app/stylesheets/styles.scss */
.square {
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 560, ../../app/stylesheets/styles.scss */
.beacon .square {
  background-image: url(/images/beacon.png);
}

/* line 564, ../../app/stylesheets/styles.scss */
.carl-north .square {
  background-image: url(/images/carl_north.png);
}

/* line 565, ../../app/stylesheets/styles.scss */
.carl-east .square {
  background-image: url(/images/carl_east.png);
}

/* line 566, ../../app/stylesheets/styles.scss */
.carl-west .square {
  background-image: url(/images/carl_west.png);
}

/* line 567, ../../app/stylesheets/styles.scss */
.carl-south .square {
  background-image: url(/images/carl_south.png);
}

/* line 569, ../../app/stylesheets/styles.scss */
.goal-carl-north .square {
  background-image: url(/images/carl_north.png);
  background-color: lime;
}

/* line 573, ../../app/stylesheets/styles.scss */
.goal-carl-south .square {
  background-image: url(/images/carl_south.png);
  background-color: lime;
}

/* line 577, ../../app/stylesheets/styles.scss */
.goal-carl-east .square {
  background-image: url(/images/carl_east.png);
  background-color: lime;
}

/* line 581, ../../app/stylesheets/styles.scss */
.goal-carl-west .square {
  background-image: url(/images/carl_west.png);
  background-color: lime;
}

/* line 586, ../../app/stylesheets/styles.scss */
.beacon-carl-north .square {
  background-image: url(/images/carl_north-beacon.png);
  background-color: lime;
}

/* line 590, ../../app/stylesheets/styles.scss */
.beacon-carl-south .square {
  background-image: url(/images/carl_south-beacon.png);
  background-color: lime;
}

/* line 594, ../../app/stylesheets/styles.scss */
.beacon-carl-east .square {
  background-image: url(/images/carl_east-beacon.png);
  background-color: lime;
}

/* line 598, ../../app/stylesheets/styles.scss */
.beacon-carl-west .square {
  background-image: url(/images/carl_west-beacon.png);
  background-color: lime;
}

/* line 603, ../../app/stylesheets/styles.scss */
.explode .square {
  background-color: #F87800;
  background-image: url(/images/boom.png);
}

/* line 608, ../../app/stylesheets/styles.scss */
.goal .square {
  background-color: lime;
  background-image: url(/images/goal.png);
}

/* line 613, ../../app/stylesheets/styles.scss */
.wall .square {
  background: #002200;
}

/* line 616, ../../app/stylesheets/styles.scss */
#footer {
  background: lime;
  color: black;
  width: 100%;
  text-align: center;
}

/* line 623, ../../app/stylesheets/styles.scss */
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  color: black;
  background-color: lime;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 240px;
  font-size: 12px;
  line-height: 10px;
  opacity: 75%;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=7500%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=7500%);
}
