@import "compass/css3";
@import "compass/css3/font-face";
@import "partials/base";
@import "compass/css3/border-radius";
@import "compass/css3/gradient";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@include font-face("CPMono_v07_Plain", font-files("../fonts/CPMono_v07_Plain-webfont.woff", woff, "../fonts/CPMono_v07_Plain-webfont.ttf", truetype, "../fonts/CPMono_v07_Plain-webfont.svg#webfontRVXSRgPv", svg));
@include font-face("CPMono_v07_Light", font-files("../fonts/CPMono_v07_Light-webfont.woff", woff, "../fonts/CPMono_v07_Light-webfont.ttf", truetype, "../fonts/CPMono_v07_Light-webfont.svg#webfontRVXSRgPv", svg));
@include font-face("CPMono_v07_ExtraLight", font-files("../fonts/CPMono_v07_ExtraLight-webfont.woff", woff, "../fonts/CPMono_v07_ExtraLight-webfont.ttf", truetype, "../fonts/CPMono_v07_ExtraLight-webfont.svg#webfontRVXSRgPv", svg));
@include font-face("CPMono_v07_Black", font-files("../fonts/CPMono_v07_Black-webfont.woff", woff, "../fonts/CPMono_v07_Black-webfont.ttf", truetype, "../fonts/CPMono_v07_Black-webfont.svg#webfontRVXSRgPv", svg));

$font-size: 20px;
$line-height: 20px;
$main-color: #0F0;
$link-color: #FFF;
$satisfied-color: $main-color;
$unsatisfied-color: #F00;
$nogoal-color: darken($main-color,40%);
$alt-color: #0FF;
$goal-color: $alt-color;
$altalt-color: #FF0;
$bg-color: black;
$highlight-color: #020;
$disabled-color: #040;
$disabled-bg-color: #010;
$control-highlight-color: #050;

body.bp, textarea {
  font-family: 'CPMono_v07_Plain', monospace;
}

body.bp {
  line-height: $line-height;
  background: $bg-color;
  color: $main-color;
  h1 {
    font-size: $font-size + 40;
    line-height: $font-size + 40; 
    a {
      text-decoration: none;
      color: $main-color;
      &:hover, &:visited {
        color: $main-color;
      }
    }
  }
  h1, h3, h5 {
    color: $main-color;
  }
  h2, h4 {
    color: $altalt-color;
  }

  h2 {
    font-size: $font-size + 15;
    line-height: $font-size + 20;
  }
  h3 {
    font-size: $font-size + 5;
    line-height: $font-size + 10; 
  }
}

#title {
  display: inline;
  float: left;
  h1 {
    margin: 0;
    font-family: 'CPMono_v07_Black', monospace;
  }
}

#header {
  #nav {
    text-align: right;
    ul {
      li {
        display: inline;
        a {
          font-family: 'CPMono_v07_Light', monospace;
          color: $link-color;
          &:hover, &:visited {
            color: $link-color;
          }
        }
      }
    }
  }
  border-bottom: solid thin $main-color;
  .subhead {
    font-family: 'CPMono_v07_ExtraLight', monospace;
    font-size: $font-size - 8;
    color: $alt-color;
    line-height: $font-size - 10;
  }
}

#content {
  margin-bottom: 30px;
  h2 {
    text-align: center;
    padding-top: $line-height;
  }
  #help {
    ul {
      list-style: none;
      text-align: center;
    }
  }
  #welcome {
    div {
      &:hover {
        background: $highlight-color;
        cursor: pointer; cursor:hand;
      }
    }
    h2, h3 {
      color: $altalt-color;
      a {
        text-decoration: none;
        color: $altalt-color;
        &:hover, &:visited {
          color: $altalt-color;
        }
      }
    }
    h3 {
      text-align: center;
      margin-top: 0;
      line-height: 0;
    }
  }
  #solutions {
    #start {
      .difficulty {
        border: solid thin $main-color;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: $blueprint-grid-width/2;
        margin-right: $blueprint-grid-width/2;
        padding-left: $blueprint-grid-width/2;
        padding-right: $blueprint-grid-width/2;
        padding-bottom: 0px;
        padding-top: $line-height;
        cursor: pointer; cursor:hand;
        a {
          text-decoration: none;
          color: $main-color;
          &:hover, &:visited {
            color: $main-color;
          }
        }
        p {
          font-family: 'CPMono_v07_Light', monospace;
          color: lighten($main-color,20%);
          text-align: center;
        }
        &:hover {
          background: $highlight-color;
        }
      }
      div#tutorial {
        font-family: 'CPMono_v07_ExtraLight', monospace;
        background: lighten($bg-color,10%);
        h3 { color: darken($main-color,30%); }
        &:hover {
          background: $highlight-color;
        }
      }
      div#easy {
        font-family: 'CPMono_v07_Plain', monospace;
        background: lighten($bg-color,8%);
        h3 { color: darken($main-color,20%); }
        &:hover {
          background: $highlight-color;
        }
      }
      div#hard {
        font-family: 'CPMono_v07_Black', monospace;
      }
      .disabled {
        cursor: default;
        h3, p, p a, p a:visited, p a:hover {
          color: #222;
        }
        &:hover {
          background: $bg-color;
        }
      }
      #tutorial, #easy {
        border-bottom: none;
      }
      text-align: left;
      h2 {
        text-align: left;
        padding-left: $blueprint-grid-width/2;
      }
      h3 {
        text-align: center;
      }
    }
    #resume {
      text-align: right;
      h2,h3 {
        text-align: right;
      }
      ul {
        list-style: none;
        li {
          a {
            color: $main-color;
            &:hover, &:visited {
              color: $main-color;
            }
          }
          font-size: $font-size;
          span.timestamp {
            font-size: $font-size - 8;
            font-family: 'CPMono_v07_ExtraLight', monospace;
            color: darken($main-color,20%);
          }
        }
        li.tutorial a {
          font-family: 'CPMono_v07_ExtraLight', monospace;
        }
        li.easy a {
          font-family: 'CPMono_v07_Plain', monospace;
        }
        li.hard a {
          font-family: 'CPMono_v07_Black', monospace;
        }
      }
    }
  }
  #solution {
    #back {
      display: inline;
      vertical-align: middle;
      font-size: $font-size - 4;
      a {
        color: $main-color;
        &:hover, &:visited {
          color: $main-color;
        }
      }
    }
    h2 {
      text-align: left;
    }
    .controls {
      div.goals {
        margin-bottom: $line-height / 2;
        text-align:center;
        div {
          font-size: $font-size - 6;
          padding-left: $blueprint-grid-width;
          padding-right: $blueprint-grid-width;
          border: solid thin $bg-color;
          height: $line-height * 2;
        }
      }
      #goal-title {
        h3 {
          color: $alt-color
        }
      }
      div.command {
        div {
        }
      }
      div.command, div.subroutine, div.control-command {
        margin-bottom: $line-height / 2;
        div {
          @include border-radius;
          border: solid thin;
          height: $line-height * 2;
          text-align: center;
          div {
            font-size: $font-size;
            border: none;
            padding: $line-height / 2;
          }
        }
      }
      div.command:hover, div.control-command:hover {
        cursor: move;
        background-color: $control-highlight-color;
      }
      div.disabled {
        color: $disabled-color;
        background-color: $disabled-bg-color;
      }
    }
    #board {
      //border-top: solid 4px $altalt-color;
      h3 {
        text-align: center;
      }
      #execution-result-summary > div {
        border: solid thin darken($main-color,30%);
        background-color: darken($main-color,45%);
        @include border-radius;
      }
      #execution-result-summary {
        div {
          text-align: center;
          h4 {
            font-size: $line-height + 4;
            padding: 0;
            margin: 0;
          }
        }
        .explosion {
          color: #F70;
          h4 {
            color: #F70;
          }
        }
        .ready {
          color: $link-color;
          h4 {
            color: $link-color;
          }
        }
        .failure {
          color: $unsatisfied-color;
          h4 {
            color: $unsatisfied-color;
          }
        }
        .passed {
          &:hover {
            cursor: hand; cursor: pointer;
          }
          background-color: $satisfied-color;
          color: $bg-color;
          a {
            color: $bg-color;
            &:hover, &:visited {
              color: $bg-color;
            }
          }
          font-family: 'CPMono_v07_Black', monospace;
          h4 {
            color: $bg-color;
            background-color: $satisfied-color;
            font-family: 'CPMono_v07_Black', monospace;
          }
        }
      }
    }
    .one-goal {
      color: $goal-color
    }
    .satisfied {
      color: $satisfied-color;
      font-family: 'CPMono_v07_Black', monospace;
    }
    .unsatisfied {
      color: $unsatisfied-color;
    }
    .nogoal {
      color: $nogoal-color;
    }
    .hidden {
      visibility:hidden;
    }
    #program {
      #source {
        //margin-right: $blueprint-grid-width;
        div {
          @include border-radius;
          border: solid thin;
          padding-top: $line-height / 2;
          padding-bottom: $line-height / 2;
          padding-left: $blueprint-grid-width / 2;
          margin-right: $blueprint-grid-width;
          font-size: $font-size - 2;
          color: $altalt-color;
          cursor: move;
        }
        div.executed {
          color: $main-color;
        }
        div.explode {
          color: #F87800;
        }
        .command-reorder-highlight {
          background-color: $highlight-color;
          padding-top: $line-height / 2;
          padding-bottom: $line-height / 2;
        }
      }
      .trash {
        @include border-radius;
        font-size: $font-size - 4;
        color: #800;
        border: solid 2px;
        padding-top: $line-height / 2;
        padding-bottom: $line-height / 2;
        text-align: center;
        margin-right: $blueprint-grid-width;
      }
      .trash-highlight {
        background-color: #f00;
        color: $bg-color;
      }
      .top {
        margin-bottom: $line-height / 2;
      }
      .bottom {
        margin-top: $line-height / 2;
      }
      form {
        textarea {
          display: none;
        }
        #execute {
          margin-right: $blueprint-grid-width;
          margin-top: $line-height;
          input {
            width: 100%;
            border: solid thin;
            background: $bg-color;
            color: $alt-color;
            font-size: $font-size + 4;
            padding-top: 4px;
            font-family: 'CPMono_v07_Black', monospace;
            &:hover {
            color: $bg-color;
            background-color: $alt-color;
            cursor: hand; cursor: pointer;
            }
          }
        }
      }
    }
    #playfield {
      //position:fixed;
      //right: 15 * $blueprint-grid-width;
    }
  }
  #levels {
    #back {
      display: inline;
      vertical-align: middle;
      font-size: $font-size;
      a {
        color: $main-color;
        &:hover, &:visited {
          color: $main-color;
        }
      }
    }
    h3 {
      text-align: center;
    }
    h4 {
      margin:0;
      padding:0;
      color: $alt-color;
      font-size: $font-size;
      a {
        color: $alt-color;
        text-decoration: none;
        &:hover, &:visited {
          color: $alt-color;
        }
      }
    }
    div.level {
      border: solid thin;
      padding-top: $line-height;
      padding-bottom: $line-height;
      padding-left: $blueprint-grid-width;
      padding-right: $blueprint-grid-width;
      p {
        font-family: 'CPMono_v07_ExtraLight', monospace;
      }
    }
    ul {
      list-style: none;
    }
  }
}
textarea#solution_code, pre.code {
  width: 100%;
  color: $link-color;
  background-color: $highlight-color;
  font-size: $font-size;
  line-height: $line-height;
}

#signin, #signup {
  form {
    input {
      font-size: $font-size + 8;
      font-family: 'CPMono_v07_ExtraLight', monospace;
      border: solid thin;
      margin-top: ($font-size + 8)/2;
    }
    input[type="submit"] {
      padding-left: $font-size;
      padding-right: $font-size;
    }
    .label {
      text-align: right;
      vertical-align: middle;
      padding-top: ($font-size + 8);
      padding-right: 0px;
      margin-right: 0px;
    }
    .input {
      padding-left: 0px;
      margin-left: 0px;
    }
    label {
      font-size: $font-size - 2;
      font-family: 'CPMono_v07_Light', monospace;
      margin-left: 0px;
    }
  }

  ul#devise-links {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: $line-height;
    li {
      padding: 0;
      display: inline;
      margin: 0;
      padding-right: $blueprint-grid-width/2;
    }
  }
}

#board0-title h3, #board1-title h3 {
  margin:0;
  padding:0;
}
.square {
  @include border-radius;
  background-color: $altalt-color;
  margin-bottom: $blueprint-grid-margin;
  height: $blueprint-grid-width;
}
.last-row .square {
  margin-bottom: 0;
}

.square {
  background-repeat: no-repeat;
  background-position: center center;
}
.beacon .square {
  background-image: url(/images/beacon.png);
}

.carl-north .square { background-image: url(/images/carl_north.png); }
.carl-east .square { background-image: url(/images/carl_east.png); }
.carl-west .square { background-image: url(/images/carl_west.png); }
.carl-south .square { background-image: url(/images/carl_south.png); }

.goal-carl-north .square {
  background-image: url(/images/carl_north.png);
  background-color: $main-color;
}
.goal-carl-south .square {
  background-image: url(/images/carl_south.png);
  background-color: $main-color;
}
.goal-carl-east .square {
  background-image: url(/images/carl_east.png);
  background-color: $main-color;
}
.goal-carl-west .square {
  background-image: url(/images/carl_west.png);
  background-color: $main-color;
}

.beacon-carl-north .square {
  background-image: url(/images/carl_north-beacon.png);
  background-color: $main-color;
}
.beacon-carl-south .square {
  background-image: url(/images/carl_south-beacon.png);
  background-color: $main-color;
}
.beacon-carl-east .square {
  background-image: url(/images/carl_east-beacon.png);
  background-color: $main-color;
}
.beacon-carl-west .square {
  background-image: url(/images/carl_west-beacon.png);
  background-color: $main-color;
}

.explode .square {
  background-color: #F87800;
  background-image: url(/images/boom.png);
}

.goal .square {
  background-color: $main-color;
  background-image: url(/images/goal.png);
}

.wall .square {
  background: $highlight-color;
}
#footer {
  background: $main-color;
  color:$bg-color;
  width: 100%;
  text-align: center;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  color: $bg-color;
  background-color: $main-color;
  padding-left: $line-height/ 2;
  padding-right: $line-height/ 2;
  padding-top: $line-height/ 2;
  padding-bottom: 0;
  margin-bottom: 0;
  width: $blueprint-grid-width * 8;
  font-size: $line-height / 2 + 2;
  line-height: $line-height / 2;
  @include opacity(75%);
}
