@import "compass/css3";
@import "compass/css3/font-face";
@import "partials/base";
@import "compass/css3/border-radius";
@import "compass/css3/gradient";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@include font-face("CPMono_v07_Plain", font-files("../fonts/CPMono_v07_Plain-webfont.woff", woff, "../fonts/CPMono_v07_Plain-webfont.ttf", truetype, "../fonts/CPMono_v07_Plain-webfont.svg#webfontRVXSRgPv", svg));
@include font-face("CPMono_v07_Light", font-files("../fonts/CPMono_v07_Light-webfont.woff", woff, "../fonts/CPMono_v07_Light-webfont.ttf", truetype, "../fonts/CPMono_v07_Light-webfont.svg#webfontRVXSRgPv", svg));
@include font-face("CPMono_v07_ExtraLight", font-files("../fonts/CPMono_v07_ExtraLight-webfont.woff", woff, "../fonts/CPMono_v07_ExtraLight-webfont.ttf", truetype, "../fonts/CPMono_v07_ExtraLight-webfont.svg#webfontRVXSRgPv", svg));
@include font-face("CPMono_v07_Black", font-files("../fonts/CPMono_v07_Black-webfont.woff", woff, "../fonts/CPMono_v07_Black-webfont.ttf", truetype, "../fonts/CPMono_v07_Black-webfont.svg#webfontRVXSRgPv", svg));

$font-size: 20px;
$line-height: 20px;
//$main-color: black;
//$link-color: black;
//$alt-color: #777;
//$altalt-color: black;
//$bg-color: white;
//$highlight-color: #ddd;
$main-color: #0F0;
$link-color: #FFF;
$alt-color: #0FF;
$altalt-color: #FF0;
$bg-color: black;
$highlight-color: #020;

body.bp, textarea {
  font-family: 'CPMono_v07_Plain', monospace;
}

body.bp {
  line-height: $line-height;
  background: $bg-color;
  color: $main-color;
  h1 {
    font-size: $font-size + 40;
    line-height: $font-size + 40; 
    a {
      text-decoration: none;
      color: $main-color;
      &:hover, &:visited {
        color: $main-color;
      }
    }
  }
  h1, h3, h5 {
    color: $main-color;
  }
  h2, h4 {
    color: $altalt-color;
  }

  h2 {
    font-size: $font-size + 15;
    line-height: $font-size + 20;
  }
  h3 {
    font-size: $font-size + 5;
    line-height: $font-size + 10; 
  }
}

#title {
  display: inline;
  float: left;
  h1 {
    margin: 0;
    font-family: 'CPMono_v07_Black', monospace;
  }
}

#header {
  #nav {
    text-align: right;
    ul {
      li {
        display: inline;
        a {
          font-family: 'CPMono_v07_Light', monospace;
          color: $link-color;
          &:hover, &:visited {
            color: $link-color;
          }
        }
      }
    }
  }
  border-bottom: solid thin $main-color;
  .subhead {
    font-family: 'CPMono_v07_ExtraLight', monospace;
    font-size: $font-size - 8;
    color: $alt-color;
    line-height: $font-size - 10;
  }
}

#content {
  margin-bottom: 30px;
  h2 {
    text-align: center;
    padding-top: $line-height;
  }
  #help {
    ul {
      list-style: none;
      text-align: center;
    }
  }
  #welcome {
    div {
      &:hover {
        background: $highlight-color;
        cursor: pointer; cursor:hand;
      }
    }
    h2, h3 {
      color: $altalt-color;
      a {
        text-decoration: none;
        color: $altalt-color;
        &:hover, &:visited {
          color: $altalt-color;
        }
      }
    }
    h3 {
      text-align: center;
      margin-top: 0;
      line-height: 0;
    }
  }
  #solutions {
    #start {
      .difficulty {
        border: solid thin $main-color;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: $blueprint-grid-width/2;
        margin-right: $blueprint-grid-width/2;
        padding-left: $blueprint-grid-width/2;
        padding-right: $blueprint-grid-width/2;
        padding-bottom: 0px;
        padding-top: $line-height;
        cursor: pointer; cursor:hand;
        a {
          text-decoration: none;
          color: $main-color;
          &:hover, &:visited {
            color: $main-color;
          }
        }
        p {
          font-family: 'CPMono_v07_Light', monospace;
          color: lighten($main-color,20%);
          text-align: center;
        }
        &:hover {
          background: $highlight-color;
        }
      }
      .disabled {
        cursor: default;
        h3, p, p a, p a:visited, p a:hover {
          color: #222;
        }
        &:hover {
          background: $bg-color;
        }
      }
      #tutorial, #easy {
        border-bottom: none;
      }
      text-align: left;
      h2 {
        text-align: left;
        padding-left: $blueprint-grid-width/2;
      }
      h3 {
        text-align: center;
      }
    }
    #resume {
      text-align: right;
      h2,h3 {
        text-align: right;
      }
    }
  }
  #solution {
    .controls {
      div.command div, div.sub div, div.control-command div {
        border: solid thin;
        height: $line-height * 2;
      }
    }
    #board {
      ul {
        margin-top: $line-height;
        list-style: none;
        text-align: center;
        li {
          color: $alt-color;
        }
      }
      h3 {
        text-align: center;
      }
    }
    .hidden {
      visibility:hidden;
    }
    #program form {
      margin-right: $blueprint-grid-width;
    }
  }
}
textarea#solution_code, pre.code {
  width: 100%;
  color: $link-color;
  background-color: $highlight-color;
  font-size: $font-size;
  line-height: $line-height;
}

#signin, #signup {
  form {
    input {
      font-size: $font-size + 8;
      font-family: 'CPMono_v07_ExtraLight', monospace;
      border: solid thin;
      margin-top: ($font-size + 8)/2;
    }
    input[type="submit"] {
      padding-left: $font-size;
      padding-right: $font-size;
    }
    .label {
      text-align: right;
      vertical-align: middle;
      padding-top: ($font-size + 8);
      padding-right: 0px;
      margin-right: 0px;
    }
    .input {
      padding-left: 0px;
      margin-left: 0px;
    }
    label {
      font-size: $font-size - 2;
      font-family: 'CPMono_v07_Light', monospace;
      margin-left: 0px;
    }
  }

  ul#devise-links {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: $line-height;
    li {
      padding: 0;
      display: inline;
      margin: 0;
      padding-right: $blueprint-grid-width/2;
    }
  }
}
// Sketchy
.square {
  border: solid thin $alt-color;
  background: $highlight-color;
  margin-bottom: $blueprint-grid-margin;
  height: $blueprint-grid-width;
}
.last-row .square {
  margin-bottom: 0;
}

.carl .square {
  background: #fff;
}

.goal .square {
  background: #f00;
}

.wall .square {
  background: $main-color;
}
#footer {
  background: $main-color;
  color:$bg-color;
  width: 100%;
  text-align: center;
}

