<div id="start">
  <h2>Start</h2>
  <div class="difficulty" id="tutorial"><a href="<%= new_solution_url %>"<h3>Tutorial</h3></a></div>
  <div class="difficulty disabled" id="easy"><a href="#"><h3>Easy</h3></a></div>
  <div class="difficulty disabled" id="hard"><a href="#"><h3>Hard</h3></a></div>
</div>
<div id="resume">
  <h2>Resume</h2>
  <ul>
    <li>T:03 - 10/16/10</li>
    <li>E:05 - 10/16/10</li>
    <li>E:07 - 10/16/10</li>
    <li>H:01 - 10/16/10</li>
  </ul>
</div>
<div id="help">
  <h2>Help!</h2>
  <ul>
    <li>How do I play?</li>
    <li>What is this?</li>
    <li>Why is this?</li>
  </ul>
</div>
