<div id="welcome">
  <% if player_signed_in? %>
    <%= link_box("playnow",
                 "Play Now!",
                 "C.A.R.L. is waiting",
                 "Can you beat your previous score, get to a higher level, or unlock more upgrades?",
                 solutions_url) %>
  <% else %>
    <%= link_box("signin",
                 "Sign In",
                 "To Play",
                 "You're just moments away for testing your skills as a robot programmer!",
                 new_player_session_url) %>
    <%= link_box("signup",
                 "Sign-Up",
                 "Now",
                 "Sign up is easy; you just need an email address and a password, and you'll be on your way!",
                 new_player_registration_url) %>
  <% end %>
  <%= link_box("wtf","WTF","is all this?","Find out what C.A.R.L. is all about","#") %>
</div>
