<h1>Carl The Robot</h1>
<h2>In the next 48 hours!</h2>
<div>
<%= link_to 'secret', :action => 'secret' %>
</div>
<i>Awesome font face by <a href="http://www.liquitype.com">Liquitype</a>, CC Licensed</i>
