<div id="about">
<h2>About C.A.R.L. the Robot</h2>
<p>
Based on <a href="http://www.cs.mtsu.edu/~untch/karel">Karel The Robot</a>, CARL the Robot is a programming game.
</p>
<p>
CARL is equipped to do the following things:
<ul>
  <li>Move forward</li>
  <li>Turn in place to the left</li>
  <li>Pick up beacons from the game grid</li>
  <li>Place beacons on the game grid</li>
</ul>
</p>
<p class="alt">
CARL also can sense the world around him and perform some higher-level reasoning.  Currently CARL can:
<ul class="alt">
  <li>Repeat any series of commands 3 times in a row</li>
  <li>Repeat any series of commands until the way forward is blocked</li>
  <li>Perform any series of commands only if the way forward is clear</li>
</ul>
</p>
<p class="altalt">
Your job is to complete levels by programming CARL to do one or more of the following things:
<ul class="altalt">
  <li>Ensure CARL arrives at a certain space on the game grid</li>
  <li>Place beacons in certain places on the game grid</li>
  <li>Complete your program within a certain number of lines of code</li>
</ul>
</p>
<p>
Someday, CARL will gain the ability to sense and do the following things:
<ul>
  <li>If he is on a beacon</li>
  <li>If he is <b>not</b> on a beacon</li>
  <li>If the way forward is <b>not</b> clear</li>
  <li>Repeat a series of commands an arbitrary number of times</li>
  <li>Store and recall subroutines</li>
</ul>
</p>
</div>
