<div id="credits">
<h2>Credits &amp; Contact</h2>
<p>All Programming by <a href="http://www.twitter.com/davetron5000">@davetron5000</a> over the course of 48 grueling hours, using:
<ul>
  <li>Rails</li>
  <li>Ubuntu</li>
  <li>Capstrano</li>
  <li>MySQL</li>
  <li>Compass (For the FUCKING WIN)</li>
  <li>Awesome font by <a href="http://www.liquitype.com/">Liquitype</a></li>
  <li>vim</li>
  <li>OS X</li>
  <li>Iced Tea</li>
</ul></p>
<h3>Bugs/Comments/Etc</h3>
<p>
<a href="mailto:youbestnotbespamming_davetron5000@gmail.com">Email Me</a>
</p>
<h3>Special Thanks</h3>
<div style="float:left;">
<img src="http://farm4.static.flickr.com/3268/2603795397_38129b4d19_m.jpg"><br />
Amy
</div>
<div style="float:left;">
  <img style="float:left;" src="http://farm1.static.flickr.com/34/73918213_a6b62e6289_m.jpg"><br />
  Rudy
</div>
<div>
for lots of moral support, meals, and patience.
</div>
</div>
